<div class="container">
	<div class="row">
		<div class="col-lg-6 left">
			Left LG
		</div>
		<div class="col-lg-6 right">
			Right LG
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6 left">
			Left MD
		</div>
		<div class="col-md-6 right">
			Right MD
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 left">
			Left SM
		</div>
		<div class="col-sm-6 right">
			Right SM
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-4 left">
			Left XS
		</div>
		<div class="col-xs-4 middle">
			Middle XS
		</div>
		<div class="col-xs-4  right">
			Right XS
		</div>
	</div>
</div>