<div class="container">
	<div class='row'>
		<div class='col-xs-6 topleft'><a href="http://imdb.com"> Powered by IMDB </a> </div>
		<div class='col-xs-6 topright'></div>
	</div>
	<div class='row'>
		<h1 class='col-xs-12 welcome'> Muvee Search! </h1>
	</div>
			<div class='row'>
				<div class='col-xs-12'>
					<p class='visible-xs greet'> Imagine. Fantasize. Re-live.</p>
					<p class='visible-sm greetsm'><img src="http://i.imgur.com/UpJfjiF.gif" title="Hosted by imgur.com"/> movie time!</p>
					<p class='visible-md greetmd'> Delve into a world of fantasy and pure imagination....</p>
					<p class='visible-lg greetlg'> Delve into a world of fantasy and pure imagination.... </a></p>
				</div>
			</div>

		<div class='row'>
			<div class="col-md-12 textmd"><form action = "/results" method="POST">
			<input type = "text" name ="movie" placeholder="type movie here"></div>
		</div>
		<div class='row'>
			<div class="col-md-12 searchmd"><button > Search </button></div>
			</form>
		</div>
		<div class= "row">
			<div class="col-sm-4 col-md-4 col-lg-3 page"> Contact Me Soon!</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 page">
				View My Page
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 page">
				Support Page
			</div>
			<div class="col-lg-3 page">
				<p class="visible-lg">Like Me!</p>
			</div>
</div>

		

		