<div id="home">
<h1> Welcome to Moobie Search! </h1>
<form action = "/results" method="POST">
<!-- params[:animal] in sinatra -->

<input type = "text" name ="movie" placeholder="type movie here">
<button> Search </button>
</form>
</div>

		

		