<!DOCTYPE html>

<html>

	<head>
		<link rel ="stylesheet" type ="text/css" href="/stylesheets/bootstrap.min.css">
		<link rel ="stylesheet" type ="text/css" href="/stylesheets/style.css">
		<link href='http://fonts.googleapis.com/css?family=Risque' rel='stylesheet' type='text/css'>
		<link rel ="stylesheet" type ="text/css" href="/stylesheets/main.css">
	</head>

	<body>
		
			<%= yield %>
	</body>

</html>